// @use 'vars';
@use 'general';
@use 'animations';

// ***************************
//  HEADER
// ***************************
.header {
  background: linear-gradient(
    to right,
    general.$main-color-tilt-9,
    general.$main-color-tilt-10
  );

  .header-box {
    display: flex;
    justify-content: space-between;
    padding: 2.4rem 0;
  }

  .logo-img {
    width: 9.6rem;
    height: auto;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-size: 2rem;
}

.main-nav-link,
.main-nav-link:link,
.main-nav-link:visited {
  &:hover {
    color: general.$main-color-shade-4;
  }
}

.main-nav-cta,
.main-nav-cta:link,
.main-nav-cta:visited {
  background-color: general.$main-color;
  color: general.$main-color-tilt-10;
  padding: 1.6rem 3.2rem;
  border-radius: 2rem;
  transition: all 0.2s;
  font-weight: 500;

  &:hover {
    background-color: general.$main-color-shade-4;
    border-radius: 15px 0 15px 0;
  }
}

// ***************************
// SECTION HERO
// ***************************
.section-hero {
  background: linear-gradient(
    to right,
    general.$main-color-tilt-9,
    general.$main-color-tilt-10
  );

  padding-top: 4.8rem;
  padding-bottom: 9.6rem;

  .hero {
    max-width: 130rem;
    padding: 0 3.2rem;
    margin: 0 auto;
    display: grid;
    column-gap: 9.6rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .hero-description {
    font-size: 2rem;
    line-height: 1.5;
    color: general.$light-text;
    margin-bottom: 4.8rem;
  }

  .hero-img {
    width: 90%;
    height: auto;
  }
}

// ***************************
// SECTION FEATURES
// ***************************
.section-features {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;

  .feature-icon {
    color: general.$main-color;
    font-size: 3.2rem;
    display: block;
    background-color: general.$main-color-tilt-10;
    border-radius: 1000px;
    padding: 1.2rem;
    margin-bottom: 3.2rem;
  }

  .feature-heading {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: #333;
  }

  .feature-description {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #333;
  }

  .features {
    margin-bottom: 9.6rem;
  }
}

//
// TESTIMONIALS
.slider {
  max-width: 100rem;
  margin: 0 auto;
  height: 40rem;
  position: relative;
  border-radius: 6.4rem;
  box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 4.8rem;
  transition: all 1s;
}

// slider btns
.slider-btn {
  position: absolute;
  top: 50%;

  font-size: 2.4rem;
  padding: 1.6rem;
  border-radius: 50%;
  border: none;
  background-color: general.$main-color;
  color: general.$main-color-tilt-10;
  transition: all 0.2s;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: general.$main-color-shade-4;
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.2);
  }
}

.slider-btn--left {
  left: 2rem;
  transform: translateY(-50%);
}
.slider-btn--right {
  right: 2rem;
  transform: translateY(-50%);
}

// testimonials
.testimonial {
  padding: 3.2rem 6.4rem;
}

.testimonial-profile {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 3.2rem;

  .testimonial-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
  }

  .testimonial-name {
    font-size: 1.6rem;
  }
}

.testimonial-text {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 500;
}

.see-more-box {
  margin-top: 2.4rem;
  text-align: center;
}

.see-more,
.see-more:link,
.see-more:visited {
  font-size: 1.8rem;
  color: #777;

  &:hover {
    border-bottom: 1px solid #777;
  }
}

// ***************************
// SECTION PRICES
// ***************************

.section-prices {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.pricing-plan {
  border-radius: 15px;
  padding: 3.2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  transition: all 0.2s;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 4.8rem rgba(0, 0, 0, 0.03);
  }
}

.pricing-plan--regular {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.07);
  background-color: general.$main-color-tilt-10;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;

  .plan-title {
    font-size: 1.8rem;
    margin-bottom: 3.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: general.$main-color;
  }

  .plan-price {
    font-size: 4.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
  }

  .plan-per-month {
    font-size: 1.6rem;
    color: #777;

    span {
      font-weight: 600;
      color: #333;
    }
  }
}

.plan-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 6.4rem;
}

.plan-item {
  font-size: 1.8rem;
  // line-height: 1.6;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.plan-subscribe {
  text-align: center;
  margin-bottom: 1.2rem;
}

.pricing-plans {
  column-gap: 4.8rem;
}

// ***************************
// SECTION CTA
// ***************************
.section-cta {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;

  background: linear-gradient(
    30deg,
    general.$main-color-shade-5,
    general.$main-color-shade-8
  );
  box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.3);
}

.cta {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
}

.form-box {
  .form-title {
    color: general.$main-color-tilt-10;
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
  }
}

.cta-img {
  width: 100%;
  height: auto;
  border-radius: 3.2rem;
}

.form {
  .label {
    display: block;
    color: general.$main-color-tilt-10;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }

  .input-form {
    width: 70%;
    display: block;
    font-family: inherit;
    font-size: 1.8rem;
    padding: 1.2rem 1.6rem;
    margin-bottom: 2.4rem;
    background-color: #fff;
    &:focus {
      outline: 3px solid general.$main-color-tilt-8;
    }
  }

  .form-btn {
    border: none;
    padding: 1.2rem 4.8rem;
    font-weight: 600;
    font-size: 2.4rem;
    margin-top: 2.4rem;

    &:hover {
      background-color: general.$main-color-tilt-8;
      color: #333;
    }
    &:focus {
      outline: 3px solid general.$main-color-tilt-8;
    }
  }
}

// ***************************
// SECTION FAQ
// ***************************

.section-faq {
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.faq-box {
  display: flex;
  flex-direction: column;
}

.question {
  font-size: 2rem;
  margin-bottom: 0.8rem;

  .question-text {
    background: none;
    border: 2px solid #999;
    border-radius: 10px;
    // transition:  0.2s;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2.4rem;
    cursor: pointer;

    .pp {
      font-size: 2.4rem;
    }

    .arrow-down {
      font-size: 2.4rem;
    }

    &:hover {
      border: 2px solid #555;
    }
  }

  .explanation {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    line-height: 0;
    transition: all 0.2s;
    background-color: general.$main-color-tilt-10;
    background: none;
    padding: 0 2.4rem;
  }

  .explanation-active {
    padding: 2.4rem 2.4rem;
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    line-height: 1.5;
    border-radius: 15px;
  }
}

// ***************************
// SECTION FOOTER
// ***************************

.footer {
  padding-top: 9.6rem;
  // background-color: general.$main-color-shade-9;
  background: linear-gradient(
    to bottom,
    general.$main-color-shade-6,
    general.$main-color-shade-9
  );
}

// big tel
.big-tel {
  color: general.$main-color-tilt-10;
  text-align: center;
  margin-bottom: 9.6rem;

  .heading-tel {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 4.8rem;
  }

  .tel-link,
  .tel-link:link,
  .tel-link:visited {
    font-size: 9.8rem;
    &:hover {
      color: general.$main-color-tilt-8;
    }
    &:focus {
      outline: 3px solid general.$main-color-tilt-8;
    }
  }
}

.heading-footer {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.footer-nav {
  color: general.$main-color-tilt-10;
  margin-bottom: 9.6rem;
}

.nav-col {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-style: normal;
  align-items: flex-start;

  .btn:focus {
    outline: 3px solid general.$main-color-tilt-8;
  }
}

.footer-link:link,
.footer-link:visited,
.footer-link {
  font-size: 1.8rem;
  transition: all 0.2s;
  &:hover {
    color: general.$main-color-tilt-8;
  }
  &:focus {
    outline: 3px solid general.$main-color-tilt-8;
  }
}

.social-box {
  display: flex;
  gap: 1.6rem;
}

.social-link {
  &:focus {
    outline: 3px solid general.$main-color-tilt-8;
  }
}

.social-icon {
  font-size: 3.2rem;
  transition: all 0.2s;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: rgb(49, 169, 255);
}

.instagram:hover {
  color: #c93ead;
}

.copyright {
  color: general.$main-color-tilt-10;
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 2.4rem;
}

// ***************************
// POPUP FORM
// ***************************
.sign-form-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5555;
  transform: translateY(5rem);
  transition: all 0.2s;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-box-active {
  transform: none;
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.popup-form {
  position: relative;
  background-color: general.$main-color-shade-8;
  border-radius: 2.4rem;
  width: 50rem;
  padding: 4.8rem;
  align-items: center;

  .input-form {
    width: 100%;
  }

  .form-btn {
    width: 100%;
  }
}

.btn-close-form {
  font-size: 5.2rem;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  color: general.$main-color-tilt-10;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
