/***************************
- SMALL LAPTOPS (BELOW 1120px)
****************************/
@media (max-width: 70em) {
  // GENERAL
  // **********
  html {
    font-size: 55%;
  }

  .heading-primary {
    font-size: 5.2rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
  }

  .section-features,
  .section-prices,
  .section-cta,
  .section-faq {
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
  }

  // HERO
  .section-hero {
    padding-bottom: 6.4rem;

    .hero {
      max-width: 120rem;
    }
  }

  .hero-img-box {
    width: 90%;
  }

  .hero-img {
    width: 100%;
  }

  // PRICING SECTION
  .pricing-plans {
    column-gap: 2.4rem;

    .pricing-plan {
      padding: 2.4rem;
    }
  }

  // FOOTER SECTION
  .footer {
    padding-top: 4.8rem;
  }
}

/***************************
- BIG TABLETS (BELOW 970PX)
****************************/
@media (max-width: 57em) {
  // GENERAL
  // **********
  html {
    font-size: 50%;
  }
}

/***************************
- SMALL TABLETS (BELOW 760PX)
****************************/
@media (max-width: 48em) {
  // GENERAL
  // **********
  .grid--3 {
    column-gap: 3.2rem;
    grid-template-columns: 1fr;
  }

  .opaced {
    display: none;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  // HEADER NAV
  .main-nav {
    gap: 2.4rem;
  }

  // SECTION HERO
  .section-hero {
    .hero {
      column-gap: 4.8rem;
    }
  }

  .hero-img-box {
    width: 100%;
  }

  // SECTION FEATURES
  .feature-heading {
    font-size: 1.8rem;
  }

  .feature-description {
    font-size: 1.6rem;
  }

  .slider,
  .slide {
    height: 30rem;
  }

  // SECTION PRICES
  .pricing-plans {
    column-gap: 2.4rem;

    .pricing-plan {
      padding: 2.4rem 4.8rem;
      justify-self: center;
    }
  }

  // SECTION CTA
  .form .input-form {
    width: 90%;
  }

  // SECTION FOOTER
  .big-tel {
    .heading-tel {
      font-size: 2.4rem;
    }

    .tel-link,
    .tel-link:link,
    .tel-link:visited {
      font-size: 6.4rem;
    }
  }
}

/***************************
- SMARTPHONES (BELOW 601PX)
****************************/
@media (max-width: 42em) {
  // GENERAL
  // **********
  .btn,
  .btn:link,
  .btn:visited {
    padding: 1.6rem 3.2rem;
    font-size: 2.4rem;
  }

  .grid--4 {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4.8rem;
  }

  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  .heading-primary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 3.2rem;
  }

  // POPUP FORM
  .popup-form {
    margin-top: 1.2rem;
    width: 38rem;
    padding: 2.4rem 1.2rem;

    .input-form {
      padding: 2.4rem 0.8rem;
      font-size: 2rem;
    }
  }

  .sign-form-box {
    align-items: flex-start;
  }

  // HEADER NAV
  .header .header-box {
    position: relative;
  }

  // POPUP NAVIGATION
  .main-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
    font-size: 2.4rem;
    color: #fff;
    transition: all 0.5s;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .header-box-active .main-nav {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }

  .toggle-nav {
    display: block;
  }

  .icon-menu[name='menu-outline'] {
    display: block;
  }

  .header-box-active .icon-menu[name='close-outline'] {
    display: block;
    color: #fff;
  }

  .header-box-active .icon-menu[name='menu-outline'] {
    display: none;
  }

  .main-nav-cta,
  .main-nav-cta:link,
  .main-nav-cta:visited {
    display: block;
    margin-top: 1.2rem;
    padding: 3.2rem;
  }

  // SECTION HERO
  .section-hero {
    .hero {
      text-align: center;
      grid-template-columns: 1fr;
      row-gap: 9.6rem;
    }

    .hero-description {
      font-size: 2rem;
    }
  }
  // SECTION FEATURES
  // features
  .section-features {
    .feature-heading {
      font-size: 3.2rem;
    }

    .feature-description {
      font-size: 2rem;
    }
  }

  // testimonials
  .slider,
  .slide {
    height: 45rem;
  }

  .slide {
    align-items: flex-start;
    padding-top: 3.2rem;
  }

  .slider-btn {
    top: auto;
    bottom: 0;
  }

  .slider-btn--left {
    left: 30%;
  }

  .slider-btn--right {
    right: 30%;
  }

  .testimonial {
    padding: 0 1.6rem;
  }

  .testimonial-text {
    font-size: 2rem;
    font-weight: 400;
  }

  // SECTION PRICES
  .plan-btn {
    font-size: 10rem;
  }

  .pricing-plans .pricing-plan {
    padding: 1.6rem 2.4rem;
  }

  .plan-item {
    font-size: 2rem;
  }

  // SECTION CTA
  .cta {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;

    .cta-img-box {
      grid-row: 1;
    }
  }

  .form-title {
    text-align: center;
  }

  .form {
    text-align: center;
    .input-form {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 4.8rem;
      padding: 2.4rem 2.4rem;
    }

    .label {
      font-size: 2.4rem;
    }

    .form-btn {
      padding: 2.4rem 6.4rem;
    }
  }

  // SECTION FAQ
  .question .question-text .question-p {
    font-size: 2rem;
  }

  // SECTION FOOTER

  .big-tel {
    .tel-link,
    .tel-link:link,
    .tel-link:visited {
      font-size: 4.8rem;
    }
  }
}

/***************************
- SMALL PHONES (BELOW 439PX)
****************************/
@media (max-width: 28em) {
  // GENERAL
  // **********
  .grid--4 {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4.8rem;
    padding: 0 6.4rem;
  }

  // SECTION FEATURES
  .testimonial {
    padding: 0;
  }

  .slider-btn {
    // padding: 1.2rem;
    // font-size: 1.8rem;
  }

  // SECTION FOOTER
  .big-tel {
    .heading-tel {
      font-size: 2.4rem;
    }

    .tel-link,
    .tel-link:link,
    .tel-link:visited {
      font-size: 4.8rem;
    }
  }

  .footer-link:link,
  .footer-link:visited,
  .footer-link {
    font-size: 2.4rem;
  }

  .nav-col {
    gap: 3.2rem;
  }
}

// VERY SMALL PHONES (BELOW 370px)
@media (max-width: 24em) {
  .big-tel {
    .tel-link,
    .tel-link:link,
    .tel-link:visited {
      font-size: 4rem;
    }
  }
}
